{% extends "admin/base.html" %}
{% load static %}

{% block title %}SAFA Administration Portal{% endblock %}

{% block extrahead %}
<link rel="icon" href="{% static 'admin/img/favicon.ico' %}?v=2">
<link rel="stylesheet" href="{% static 'admin/css/admin-extra.css' %}?v=1.4">
<style>
  /* Additional dynamic styles */
  .module {
    border: 1px solid var(--safa-yellow);
  }
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}" style="display: flex; align-items: center;">
    <img src="{% static 'admin/img/logo.png' %}" height="40px" style="margin-right: 12px;">
    <span style="font-size: 1.2rem">SAFA ADMINISTRATION PORTAL</span>
    </a>
</h1>
{% endblock %}