{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>SAFA Global - Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <link rel="icon" href="{% static 'admin/favicon.ico' %}">
    </head>
<body>
    <div class="login-container">
        <img src="{% static 'admin/images/logo.png' %}" alt="SAFA Logo" class="login-logo">

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
</body>
</html>